@media screen and (max-width: 900px) {
	.ui.cards>.card {
        width:500px;
    }
}

@media screen and (max-width: 600px) {
	.ui.cards>.card {
        width:400px;
    }
}

@media screen and (max-width: 400px) {
	.ui.cards>.card {
        width:300px;
    }
}

body {
background-color:#1B1C1D;
}