@charset "utf-8";
/* CSS Document */

.jumbotron {
	background-color:#F9003E;
	margin:0;
}

h1 {
	text-align:center;
	font-family:隶书;
}

.container {
	margin:0;
	padding:0;
	width:100%;
}

.row {
	margin: 0 auto;
	padding: 0;
}

p, h3{
	text-align:center;
}

.group-info {
	display:none;
}

.list-group-item {
	padding-left:50px;
}