{% extends "base.html" %}
{% block title %}计划广场{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="/static/basic/css/semantic.min.css">
    <style type="text/css">
	#rankTable {
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
	}
    #userId {
        display: none;
    }
	</style>
{% endblock %}
{% block javascript %}
  <script src="/static/basic/js/semantic.min.js"></script>
  <script src ="/static/plan/js/plan_share.js" ></script>
{% endblock %}
{% block main %}
	<!-- Page container -->
  <div id="userId">{{ data.userId }}</div>
  <div class="ui divided items">
  {% for item in data.list %}
    <div class="ui segment">
      <div class="ui large feed">
        <div class="event">
          <img src={{ item.image }} class="ui avatar image">
        <div class="content">
          <div class="summary">
            <a class="user">
                {{ item.username}}
            </a>
          <div class="date">
            {{ item.createTime }}
          </div>
          </div>
        </div>
        </div>
    </div>
    <h3 class="ui header">
      {{ item.name}}
    </h3>
    <div class="ui small images">
      <img src={{ item.plan_image }} >
    </div>
    <div class="extra text">
      {{ item.description }}
    </div>
    <div class="extra">
     {% for tag in item.tags %}
      <div class="ui label">{{ tag }}</div>
     {% endfor %}
    <div class="ui two bottom attached buttons">
    {% if item.isLike %}
    <div userId={{ item.userId }} class="ui red like button">
    {% else %}
    <div userId={{ item.userId }} class="ui like button">
    {% endif %}
        <i class="heart icon"></i>
      Like
    </div>
    {% if item.isFollow %}
    <div userId={{ item.userId }} class="ui blue follow button">
        <i class="blue paw icon"></i>Following
    {% else %}
    <div userId={{ item.userId }} class="ui follow button">
         <i class="paw icon"></i>Follow
    {% endif %}
    </div>
    </div>
    </div>
   </div>
   {% endfor %}
  </div>
{% endblock %}
