<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>制定计划</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="/static/plan/css/flat-ui.min.css" />
	<link rel="stylesheet" href="/static/plan/css/plan_make.css" />
	<link rel="stylesheet" href="/static/plan/css/bootstrap-datetimepicker.min.css" />
<body>
    <div class="container">
        <div class="center">
            <div class="row-narrow white-box-shadow">
                <div class="row-narrow-center">
				<form method="POST" action="" enctype="multipart/form-data">
					<fieldset>
					{% csrf_token %}
					<legend id="location_flag">提交</legend>
					<div class="form-group" id="begintime">
						<label>开始时间:</label>
						<div class="input-append date form_datetime">
							<input size="32" type="text" value="" name="begintime" readonly>
							<span class="add-on"><i class="icon-th"></i></span>
						</div>
					</div>
					<div class="form-group" id="endtime">
						<label>结束时间:</label>
						<div class="input-append date form_datetime">
							<input size="32" type="text" value="" name="endtime" readonly>
							<span class="add-on"><i class="icon-th"></i></span>
						</div>
					</div>
					<div class="form-group" id="goal">
						<label>目标数量:</label>
						<input class="form-control" name="goal">
					</div>
					<div class="form-group center">
						<input type="submit" value="确认" class="submit-button"/>
					</div>
					</fieldset>
				</form>
                </div>
            </div>
        </div>
    </div>
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/plan/js/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="/static/plan/js/bootstrap-datetimepicker.zh-CN.js"></script>
	<script type="text/javascript">
		$(".form_datetime").datetimepicker({
			format: "yyyy-mm-dd hh:ii",
			autoclose: true,
			startView: 2,
			minView: 1
		});
	</script>
</body>
