{% extends "base.html" %}
{% block title %}计划排行榜{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="/static/basic/css/semantic.min.css">
    <style type="text/css">
	#rankTable {
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
	}
    #userId {
        display: none;
    }
	</style>
{% endblock %}
{% block javascript %}
  <script src="/static/basic/js/semantic.min.js"></script>
  <script src="/static/plan/js/plan_rank.js"></script>
{% endblock %}
{% block main %}
    <div id="userId">{{ data.userId }}</div>
	<!-- Page container -->
	<div class="container-fluid">
		<!-- Page header -->
		<h1 id = "pageHeader" class="page-header">计划排行榜</h1>
		<!-- Rank Table -->
		<table class="ui large table">
            <thead>
              <tr>
                <th>排名</th>
                <th>计划</th>
                <th>点赞数</th>
                <th>接受</th>
              </tr>
            </thead>
            <tbody>
            {% for item in data.list %}
              <tr>
                <td>
                  {% ifequal item.id 1 %}
                    <div class="ui big statistics">
                    <div class="yellow statistic">
                      <div class="value">
                        <img src={{ item.image }} class="ui circular inline image">
                        <i class="trophy icon"></i>
                      </div>
                      <div class="label">
                        {{ item.name }}
                      </div>
                    </div>
                    </div>
                  {% else %}
                    {% ifequal item.id 2 %}
                      <div class="ui small statistics">
                      <div class="grey statistic">
                      <div class="value">
                        <img src={{ item.image }} class="ui circular inline image">
                        2
                      </div>
                      <div class="label">
                        {{ item.name }}
                      </div>
                    </div>
                    </div>
                    {% else %}
                      {% ifequal item.id 3 %}
                        <div class="ui big statistics">
                        <div class="brown statistic">
                          <div class="value">
                            <img src={{ item.image }} class="ui circular inline image">
                            3
                          </div>
                          <div class="label">
                            {{ item.name }}
                          </div>
                        </div>
                        </div>
                      {% else %}
                        {{ item.id }}
                      {% endifequal %}
                    {% endifequal %}
                  {% endifequal %}
                  {% if}
                  {}
                </td>
                <td>
                  <div class="ui divided items">
                   <div class="item">
                    <div class="ui small image">
                    <img src={{ item.plan_image }}>
                   </div>
                   <div class="content">
                   <a href={{ item.plan_url }} class="header">{{ item.title }}</a>
                   <div class="extra">
                   {% for name in item.tags %}
                   <div class="ui label">name</div>
                   {% endfor %}
                   </div>
                  </div>
                 </div>
                </div>
                </td>
                <td>

                  <i class="red big heart icon"></i>{{ item.goods }}
                </td>
                <td>
                  {% if item.isFollow %}
                  <button userId={{ item.userId }} class="blue ui follow button">
                  <i class="paw icon"></i>Following</button>
                  {% else %}
                  <button userId={{ item.userId }} class="ui follow button">
                  <i class="paw icon"></i>
                  &nbsp&nbsp&nbspFollow&nbsp&nbsp&nbsp</button>
                  {% endif %}
                </td>
              </tr>
             {% endfor %}
            </tbody>
        </table>
	</div>
{% endblock %}
