<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>运动数据</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/basic/css/data_today.css">
  <link rel="stylesheet" href="/static/basic/css/data_today_reset.css">
  <link rel="stylesheet" href="/static/basic/css/timeline_style.css">
</head>
<style>
  .col-xs-4{
      padding-left:1px;
	  padding-right:1px;
  }
</style>
<body>
<div class="container">
  <div class="row">
    <div class="wrapper">
      <div class="inner">
        <span>{{ data.real_step }}</span>
    	<span class="plan">
		  <li>已完成<div style="display:inline" class="plan_per">{{ data.plan_per }}%</div></li>
		  <li>计划 <div style="display:inline" class="plan_step">{{ data.plan_step }}</div> 步</li>
		</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
	  <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">计划完成度</h3>
        </div>
        <div class="panel-body">
          <span>{{ data.plan_per }}%</span>
        </div>
      </div>
	</div>
	<div class="col-xs-4">
	  <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">消耗卡路里(千卡)</h3>
        </div>
        <div class="panel-body">
          <span>{{ data.calories }}</span>
        </div>
      </div>
	</div>
	<div class="col-xs-4">
	  <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">好友排名</h3>
        </div>
        <div class="panel-body">
          <span>{{ data.rank }}</span>
        </div>
      </div>
	</div>
  </div>
  <div class="row">
    <section id="cd-timeline" class="cd-container">
		{% for item in data.list %}
	    <div class="cd-timeline-block">
	    	<div class="cd-timeline-img cd-picture">
	    		<img src="/static/basic/img/cd-icon-picture.svg" alt="Picture">
	    	</div>
        
	    	<div class="cd-timeline-content">
	    		<h2>{{ item.title }}</h2>
	    		<p>{{ item.title }}</p>
	    		<span class="cd-date">{{ item.startTime }}</span>
	    	</div>
	    </div>
		{% endfor %}
    </section>
  </div>
</div>
  <script src="/static/basic/js/data_today.js"></script>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/basic/js/prefixfree.min.js"></script>
  <script src="/static/basic/js/modernizr.js"></script>
</body>

</html>