<html>
	<head>
		<title>运动趋势</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="/static/basic/css/buttons.css"/>
	</head>
	<body>
	     <div>
			<center><a class="button button-rounded button-tiny" button onclick="dayClick()">Day</a>
			<a class="button button-rounded button-tiny" button onclick="weekClick()">Week</a>
			<a class="button button-rounded button-tiny" button onclick="monthClick()">Month</a>
			</center>
        </div>
        <div style="text-align:right; width:100%;"><img src="/static/basic/img/report_1.png"><font size="1" font color="gray"> Goal </font><img src="/static/basic/img/report_2.png"><font size="1" font color="gray"> Archive</font></div> 
		<div height="height:100%">
		    <div id="monthArea">
		        <canvas id="canvas" height="1280" width="960"></canvas>
		    </div>
			<div id="dayArea">
				<canvas id="dayChart" height="1280" width="960"></canvas>
			</div>
			<div id="weekArea">
				<canvas id="weekChart" height="1280" width="960"></canvas>
			</div>
		 </div>
	<script src="/static/basic/js/data_report.js"></script>
	<script>
	

	var str1 = new Array('{ "date": "2015-10-16", "value": "230", "object": "510" }','{ "date": "2015-10-17", "value": "570", "object": "200" }','{ "date": "2015-10-18", "value": "600", "object": "210" }',
	'{ "date": "2015-10-19", "value": "520", "object": "600" }','{ "date": "2015-10-20", "value": "430", "object": "500" }','{ "date": "2015-10-21", "value": "480", "object": "400" }',
	'{ "date": "2015-10-22", "value": "390", "object": "320" }','{ "date": "2015-10-23", "value": "280", "object": "610" }','{ "date": "2015-10-24", "value": "450", "object": "410" }',
	'{ "date": "2015-10-25", "value": "410", "object": "400" }','{ "date": "2015-10-26", "value": "600", "object": "420" }','{ "date": "2015-10-27", "value": "220", "object": "510" }',
    '{ "date": "2015-10-28", "value": "150", "object": "210" }','{ "date": "2015-10-29", "value": "350", "object": "320" }','{ "date": "2015-10-30", "value": "320", "object": "200" }',
    '{ "date": "2015-10-31", "value": "120", "object": "100" }','{ "date": "2015-11-1", "value": "300", "object": "200" }','{ "date": "2015-11-2", "value": "100", "object": "100" }',
    '{ "date": "2015-11-3", "value": "500", "object": "600" }','{ "date": "2015-11-4", "value": "130", "object": "80" }','{ "date": "2015-11-5", "value": "480", "object": "320" }',
    '{ "date": "2015-11-6", "value": "800", "object": "1000" }','{ "date": "2015-11-7", "value": "200", "object": "150" }','{ "date": "2015-11-8", "value": "350", "object": "300" }',
    '{ "date": "2015-11-9", "value": "450", "object": "550" }','{ "date": "2015-11-10", "value": "700", "object": "650" }','{ "date": "2015-11-11", "value": "110", "object": "670" }',
    '{ "date": "2015-11-12", "value": "550", "object": "450" }','{ "date": "2015-11-13", "value": "310", "object": "180" }','{ "date": "2015-11-14", "value": "320", "object": "500" }',
    '{ "date": "2015-11-15", "value": "100", "object": "900" }','{ "date": "2015-11-16", "value": "210", "object": "430" }','{ "date": "2015-11-17", "value": "670", "object": "400" }',
    '{ "date": "2015-11-18", "value": "0", "object": "600" }','{ "date": "2015-11-19", "value": "120", "object": "210" }','{ "date": "2015-11-20", "value": "500", "object": "0" }',
    '{ "date": "2015-11-21", "value": "50", "object": "200" }','{ "date": "2015-11-22", "value": "360", "object": "700" }','{ "date": "2015-11-23", "value": "300", "object": "350" }',
    '{ "date": "2015-11-24", "value": "70", "object": "150" }','{ "date": "2015-11-25", "value": "500", "object": "350" }','{ "date": "2015-11-26", "value": "200", "object": "530" }',
    '{ "date": "2015-11-27", "value": "200", "object": "350" }','{ "date": "2015-11-28", "value": "430", "object": "510" }','{ "date": "2015-11-29", "value": "450", "object": "250" }',
    '{ "date": "2015-11-30", "value": "370", "object": "200" }');//data set, example,
	
	var str2 = new Array('{ "Time": "00:00", "value": "70", "object" : "100"}','{ "Time": "01:00", "value": "10", "object" : "0"}','{ "Time": "02:00", "value": "23", "object" : "0"}',
	'{ "Time": "03:00", "value": "60", "object" : "61"}','{ "Time": "04:00", "value": "56", "object" : "55"}','{ "Time": "05:00", "value": "50", "object" : "30"}',
	'{ "Time": "06:00", "value": "51", "object" : "60"}','{ "Time": "07:00", "value": "21", "object" : "32"}','{ "Time": "08:00", "value": "10", "object" : "50"}',
	'{ "Time": "09:00", "value": "17", "object" : "22"}','{ "Time": "10:00", "value": "23", "object" : "10"}','{ "Time": "11:00", "value": "50", "object" : "43"}',
	'{ "Time": "12:00", "value": "22", "object" : "15"}','{ "Time": "13:00", "value": "46", "object" : "50"}','{ "Time": "14:00", "value": "70", "object" : "20"}',
	'{ "Time": "15:00", "value": "50", "object" : "30"}','{ "Time": "16:00", "value": "81", "object" : "27"}','{ "Time": "17:00", "value": "22", "object" : "32"}',
	'{ "Time": "18:00", "value": "60", "object" : "21"}','{ "Time": "19:00", "value": "23", "object" : "56"}','{ "Time": "20:00", "value": "16", "object" : "31"}',
	'{ "Time": "21:00", "value": "23", "object" : "24"}','{ "Time": "22:00", "value": "43", "object" : "35"}','{ "Time": "23:00", "value": "15", "object" : "30"}'
	);//time set, for daychart

     
	  function dateMinus(days){
	  	 var today=new Date();
		 today.setDate(today.getDate()-days)
		 var yy = today.getFullYear();
		 var mm = today.getMonth()+1;
		 var dd = today.getDate();
		 return yy+ "-" + mm + "-" + dd;
		 }//calculatedays
	  
	  function monthClick(){
	   	  document.getElementById("dayArea").style.display='None';
	   	  document.getElementById("weekArea").style.display='None';
	   	  document.getElementById("monthArea").style.display='block';
		}//changepage

	   function dayClick(){
	   	  document.getElementById("weekArea").style.display='None';
	   	  document.getElementById("monthArea").style.display='None';
	   	  document.getElementById("dayArea").style.display='block';
		  }

	   function weekClick(){
	   	  document.getElementById("dayArea").style.display='None';
	   	  document.getElementById("monthArea").style.display='None';
		  document.getElementById("weekArea").style.display='block';
		  }
		  
	
    
	
	var motmp = new Array(32); //month object tmp
	var mvtmp = new Array(32); // month value tmp
	var i;
	
	for(i=0;i<str1.length;i++)
	{
	      for(var j=1; j<=30;j++)
		  {
	      if(JSON.parse(str1[i]).date==dateMinus(j))
		  {
		     mvtmp[j-1]= JSON.parse(str1[i]).value;
			 motmp[j-1]=JSON.parse(str1[i]).object;
		  }
		  }
   	 }
	

    var lineChartData = {
			labels : [dateMinus(30),dateMinus(29),
			dateMinus(28),dateMinus(27),dateMinus(26),dateMinus(25),dateMinus(24),dateMinus(23),dateMinus(22),
			dateMinus(21),dateMinus(20),dateMinus(19),dateMinus(18),dateMinus(17),dateMinus(16),dateMinus(15),
			dateMinus(14),dateMinus(13),dateMinus(12),dateMinus(11),dateMinus(10),dateMinus(9),dateMinus(8),
			dateMinus(7),dateMinus(6),dateMinus(5),dateMinus(4),dateMinus(3),dateMinus(2),dateMinus(1)],//30days data
			datasets : [
				{
					label: "My First dataset",
					fillColor : "rgba(220,220,220,0.2)",
					strokeColor : "rgba(220,220,220,1)",
					pointColor : "rgba(220,220,220,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(220,220,220,1)",
					data: [motmp[29], motmp[28], motmp[27], motmp[26], motmp[25], motmp[24], motmp[23],
					  motmp[22], motmp[21], motmp[20], motmp[19], motmp[18], motmp[17], motmp[16],
					  motmp[15], motmp[14], motmp[13], motmp[12], motmp[11], motmp[10], motmp[9],
					  motmp[8], motmp[7], motmp[6], motmp[5], motmp[4], motmp[3], motmp[2],
					  motmp[1], motmp[0]]
				},
				{
                    label: "My Second dataset",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [mvtmp[29], mvtmp[28], mvtmp[27], mvtmp[26], mvtmp[25], mvtmp[24], mvtmp[23],
					  mvtmp[22], mvtmp[21], mvtmp[20], mvtmp[19], mvtmp[18], mvtmp[17], mvtmp[16],
					  mvtmp[15], mvtmp[14], mvtmp[13], mvtmp[12], mvtmp[11], mvtmp[10], mvtmp[9],
					  mvtmp[8], mvtmp[7], mvtmp[6], mvtmp[5], motmp[4], mvtmp[3], mvtmp[2],
					  mvtmp[1], mvtmp[0]]
                 }
			]

		}
	

	var dayChartData = {
			labels : ["00:00","01:00","02:00","03:00","04:00","05:00","06:00","07:00","08:00","09:00","10:00","11:00","12:00","13:00","14:00","15:00","16:00","17:00","19:00","20:00","21:00","22:00","23:00","23:00"],//1day's data
			datasets : [
				{
					label: "My First dataset",
	        		fillColor : "rgba(220,220,220,0.2)",
					strokeColor : "rgba(220,220,220,1)",
					pointColor : "rgba(220,220,220,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(220,220,220,1)",
					data : [JSON.parse(str2[0]).object,JSON.parse(str2[1]).object,JSON.parse(str2[2]).object,JSON.parse(str2[3]).object,
					JSON.parse(str2[4]).object,JSON.parse(str2[5]).object,JSON.parse(str2[6]).object,JSON.parse(str2[7]).object,
					JSON.parse(str2[8]).object,JSON.parse(str2[9]).object,JSON.parse(str2[10]).object,JSON.parse(str2[11]).object,
					JSON.parse(str2[12]).object,JSON.parse(str2[13]).object,JSON.parse(str2[14]).object,JSON.parse(str2[15]).object,
					JSON.parse(str2[16]).object,JSON.parse(str2[17]).object,JSON.parse(str2[18]).object,JSON.parse(str2[19]).object,
					JSON.parse(str2[20]).object,JSON.parse(str2[21]).object,JSON.parse(str2[22]).object,JSON.parse(str2[23]).object]
				},
					{
                    label: "My Second dataset",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data : [JSON.parse(str2[0]).value,JSON.parse(str2[1]).value,JSON.parse(str2[2]).value,JSON.parse(str2[3]).value,
					JSON.parse(str2[4]).value,JSON.parse(str2[5]).value,JSON.parse(str2[6]).value,JSON.parse(str2[7]).value,
					JSON.parse(str2[8]).value,JSON.parse(str2[9]).value,JSON.parse(str2[10]).value,JSON.parse(str2[11]).value,
					JSON.parse(str2[12]).value,JSON.parse(str2[13]).value,JSON.parse(str2[14]).value,JSON.parse(str2[15]).value,
					JSON.parse(str2[16]).value,JSON.parse(str2[17]).value,JSON.parse(str2[18]).value,JSON.parse(str2[19]).value,
					JSON.parse(str2[20]).value,JSON.parse(str2[21]).value,JSON.parse(str2[22]).value,JSON.parse(str2[23]).value]
                 }
			]

		}
    
	var wvtmp= new Array(8); //week value tmp
	var wotmp= new Array(8);// week object tmp

    for(i=0;i<str1.length;i++)
	{
	      for(var j=1; j<=7;j++)
		  {
	      if(JSON.parse(str1[i]).date==dateMinus(j))
		  {
		     wvtmp[j-1]= JSON.parse(str1[i]).value;
			 wotmp[j-1]=JSON.parse(str1[i]).object;
		  }
		  }
   	 }
    
    
    var weekChartData = {
			labels : [dateMinus(7),dateMinus(6),dateMinus(5),dateMinus(4),dateMinus(3),dateMinus(2),dateMinus(1)],//7days data
			datasets : [
				{
					label: "My First dataset",
					fillColor : "rgba(220,220,220,0.2)",
					strokeColor : "rgba(220,220,220,1)",
					pointColor : "rgba(220,220,220,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(220,220,220,1)",
					 data: [wotmp[6], wotmp[5], wotmp[4], wotmp[3], wotmp[2], wotmp[1], wotmp[0]]
				},
				{
                    label: "My Second dataset",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                     data: [wvtmp[6], wvtmp[5], wvtmp[4], wvtmp[3], wvtmp[2], wvtmp[1], wvtmp[0]]
				}
			]

		}
		
		
	window.onload = function(){
	    var ctx = document.getElementById("canvas").getContext("2d");
		var dayCtx = document.getElementById("dayChart").getContext("2d");
		var weekCtx = document.getElementById("weekChart").getContext("2d");
        
		window.myLine = new Chart(ctx).Line(lineChartData, {
			responsive: true
		});

		window.myDay = new Chart(dayCtx).Line(dayChartData, {
			responsive: true
		});

		window.myWeek = new Chart(weekCtx).Line(weekChartData, {
			responsive: true
		});
		dayClick();//firstpage
		

	}
    </script>
	</body>
</html>
